/* Typography */

body{
    color: #000;
  font: 300 16px/22px Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}
h1, h2, h3, h4 {
    color: #343352;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 44px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    color: #a9b2b9;
    font-size: 18px;
    font-weight: 400;
  }


  nav ul li a{
    color:#fff;
    text-decoration: none;
}
  
  
   nav ul li {
    list-style-type: none;
}

   header h1{
    color: #fff;
}
/*h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #343352;
    font-size: 52px;
    font-weight: 100;
    line-height: 1.3em;
}
/* Layout */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 40px 5px 40px;
    text-align: center;
    background: linear-gradient(to left, #9c27b0 , #8ecdff);
    color: white;
  }

header h1{
    flex: 0 0 100%;
}

nav ul{
    display: flex;

    margin: 0px;
}
nav ul li{
    padding: 10px 14px;
}
 
nav{
    height: 40px;
}

nav ul li a:hover:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 4px;
    border-bottom: 3px solid #fff;
}
/* Animation */
/* Responsive */